################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSS!!!/SSS!!!/bin/DesktopGL/x86/Debug
/SSS!!!/SSS!!!/obj/x86/Debug
